################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebBookStore/.vs/WebBookStore
/WebBookStore/WebBookStore/bin/Debug/net8.0
/WebBookStore/WebBookStore/obj
/WebBookStore/WebBookStore/WebBookStore.csproj.user
/WebBookStore/WebBookStore/wwwroot
